<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head >
<body>


<div class="row offset-11">
    <a href="/add">Add a Pet</a>
</div>


<div th:each="eachPet:${petList}">

    <div class="row">

            <p class="col-sm-1" th:text="${eachPet.type}"></p>
            <p class="col-sm-1" th:text="${eachPet.name}"></p>
            <p class="col-sm-1" th:text="${eachPet.description}"></p>
            <p class="col-sm-1" th:text="${eachPet.found}?'Found': 'Lost'"></p>

    </div>
        <img th:src="${eachPet.image}" height="500px;" th:alt="${eachPet.name}">


                <div class="row">
                        <a class="col-sm-1" th:text="${eachPet.found}?'Report Lost': 'Report Found'" th:href="@{/changestatus/{id}(id=${eachPet.id})}"></a>


                        <a class="col-sm-1" th:href="@{/update/{id}(id=${eachPet.id})}">Update</a>


                        <a class="col-sm-1" th:href="@{/delete/{id}(id=${eachPet.id})}">Delete</a>
                </div>
</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>